*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
#element{
    color:#05dcf8 ;
    line-height: 50px;
    font-size: 32px;
}

body{
    color: white;
    background-color: #262626 ;
}

/*-------------------------------------------------------*/


#header{
    width: 100%;
    height:100vh;
    background:url(images/guitarbg.png);
    background-size:100%;
    margin-right: 10px;
    background-position: right;
}

.container{
    padding: 10px 10%;
}



.header-text{
    margin-top:20%;
    margin-left: -20px;
    border: 2px solid #00aeff;
    background: transparent;
    margin-right: 640px;
    background: linear-gradient(#0e0d0d,#462e02);
    padding: 2%;
    font-size:32px;
}

.header-text h1{
    font-size: 32px;
    margin-top: 20px;
}

.header-text h1 span{
    font-size: 35px;
    color: #05dcf8;
}

.btn-tocontact{
    display: block;
    margin-top: 70px;
    font-size: 20px;
    background-image: linear-gradient(315deg, #182b3a 0%, #1d54a7 74%);
    width: fit-content;
    padding: 15px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0s;
}

.btn-tocontact:hover{
    border: 1px solid #f4f7fa;
}



/*----------------------------SERVICES--------------------*/

#services{
    padding:30px 0;
    height: 100vh;
    background:#182b3a;
    background-size: 100%;    
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-gap:50px; 
    grid-column: auto;
    margin-top:40px ;
}

.services-list a{
    background:linear-gradient(315deg, #182b3a 0%, #177fbb 74%);
    padding: 40px;
    height: 25vh;
    font-size: 10px;
    background-size: cover;
    font-weight:100 ;
    border: 1px solid #a7b6c0;
    border-radius:10px ;
    transition: background 0.5s,transform 0.5s;
}

.services-list a i{
    font-size: 20px;
    margin-bottom: 10px;
}

.services-list a h2{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.services-list  a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 18px;
    font-weight: 100;
    display: inline-block;
    
}

.services-list a:hover{
    transform:translateY(-10px);
}




/*---------------------------------evergreen-------------------------------*/

.evergreen{
    height: 100vh;
    padding: 2%;
    font-size: 18px;
    line-height: 45px;
}

.evergreen li a{
    font-size: 23px;
    color: white;
}

/*------------------------css for small screen--------------------*/



@media only screen and (max-width:600px) {
    

    #header{
        width: 100%;
        height:50vh;
        background:url(images/guitarbg.png);
        background-size:inherit;
        margin-right: 10px;
        background-position: right;
    }
    
    .container{
        padding: 10px 10%;
    }
    
    #element{
        color:#05dcf8 ;
        line-height: 50px;
        font-size: 28px;
    }

    .header-text{
        margin-top:2%;
        width: auto;
        margin-left: -10px;
        border: 2px solid #00aeff;
        background: transparent;
        margin-right:2px;
        background: linear-gradient(#0e0d0d,#462e02);
        padding: 2%;
        font-size:18px;
    }
    
    .header-text h1{
        font-size: 32px;
        margin-top: 20px;
    }
    
    .header-text h1 span{
        font-size: 26px;
        color: #05dcf8;
    }
    
    .btn-tocontact{
        display: block;
        margin-top: 70px;
        font-size: 20px;
        background-image: linear-gradient(315deg, #182b3a 0%, #1d54a7 74%);
        width: fit-content;
        padding: 15px 60px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0s;
    }
    
    .btn-tocontact:hover{
        border: 1px solid #f4f7fa;
    }



    /*-----------------------Services---------------*/

    #services{
        padding:30px 0;
        height: 100vh;
        background:#182b3a;
        background-size: 100%;    
    }
    
    .services-list {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 250px;
        grid-column: 1; /* You can remove this line if you don't need it */
        margin-top: 40px;
    }
    
    .services-list a{
        background:linear-gradient(315deg, #182b3a 0%, #177fbb 74%);
        padding: 40px;
        height: 20vh;
        font-size: 10px;
        margin-bottom: -280px;
        background-size: cover;
        font-weight:100 ;
        border: 1px solid #a7b6c0;
        border-radius:10px ;
        transition: background 0.5s,transform 0.5s;
    }
    
    .services-list a i{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .services-list a h2{
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    
    .services-list  a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        margin-top: 18px;
        font-weight: 100;
        display: inline-block;
        
    }
    
    .services-list a:hover{
        transform:translateY(-10px);
    }
    
    
    
    
    /*---------------------------------evergreen-------------------------------*/
    
    .evergreen{
        height: 100vh;
        padding: 2%;
        font-size: 18px;
        line-height: 45px;
    }
    
    .evergreen li a{
        font-size: 23px;
        color: white;
    }
    
}